@charset "UTF-8";

@media screen and (min-width:780px){

        header #burguer{
            display: none;
        }
        header li{
            display: inline-block;
            border: none;
        }

         #menu {
            display: block;
        }

        main {
            width: 740px;
        }
}