@charset "UTF-8";
        body{
            background-color: rgb(231, 231, 231);
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 18px;
        }

        h1{
            color: rgb(255, 244, 187);
           background-color: rgb(18, 174, 188);
        }

        h2{
            background-color:rgb(182, 119, 16);
            color: azure;
        }
        
        p{ text-align: justify;
           font-weight: 400;
        }
