@charset "UTF-8";

        *{
        padding: 0;
        margin: 0;
        }

        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }

        h1{
            text-align: center;
            margin-bottom: 20px;
            font-family: cursive;
        }

        table{
            border-radius: 2px;
            border-collapse: collapse;
            width: 400px;
            margin: auto;
            margin-bottom:20px;   
            box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.363);
     
        }

        td{
            padding: 25px;
            border: 3px solid black;
            font-weight: bold;
        }

        .sudeste{
            background-color: gray;
        }

        .centro-oeste{
            background-color: yellow;
        }

        .nordeste{
            background-color: orange;
        }
        
        #moro{
            color: blueviolet;
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }

        .visitei{
            color: blue;
        }

        ul{
            width: fit-content;
            padding: 20px;
            margin: auto;
            text-align: center;
            border-radius: 5px;
        }

        li{
            list-: square;
        }

        ul li#res-atual{
            color: blueviolet;
            font-weight:bold;
        }

        ul li#local-visitado{
            color: blue;
            font-weight:bold;
        }

        div.legendas{
            background-color: rgba(46, 158, 61, 0.649);
            width: 250px;
            border-radius: 4px;
            margin: auto;
            border: 2px solid rgba(0, 0, 0, 0.576);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.299);
        }

        div strong{
            text-decoration: underline;
        }