@charset "UTF-8";

body{
    background-color: burlywood;
}

main#conteiner{
    height: 500px;
    display: flex; /* Com flex, todos os elementos filhos do contêiner seguem suas orientações */ 

    flex-direction: row; /*Define orientação do eixo principal*/

    justify-content: center; /* Alinhar elementos do eixo principal */

    align-items:center; /* Alinhar elementos do eixo perpendicular */

    flex-wrap: wrap; /* Wrap defina se os elementos quebram linha ou não, o padrão é 'no-wrap' (não quebra linha) */

    /*flex-flow: row wrap; /* Handshort que une Flex-Dircetion com Flex-Wrap*/

    align-content: center; /* Quando existe o flex wrap como Wrap, ele define o alinhamento das quebras de linha */
    
    gap: 10px 50px; /* Fixa espaço entre elementos horizontalmente e verticalmente*/

    /* column-gap: 30px; /*Define gap apenas verticalmente*/

     /* row-gap: 10px; /*Define gap apenas horizontalmente*/ 

}


.bloco-1{
    background-color: red;
    order: 0;
   /* flex-grow: 0; - Crescimento do elemento
   flex-shrink: 1; - Diminuição do elemento
   flex-basis: 150px; - Tamanho do elemento
   */ 
    flex: 0 1 150px;
}

.bloco-2{
    background-color: plum;
    order: 0;
    /* flex-grow: 0; - Crescimento do elemento
    flex-shrink: 1; - Diminuição do elemento
    flex-basis: 150px; - Tamanho do elemento
    */ 
    flex: 0 1 150px; 
    
}

.bloco-3{
    background-color: darkslategray;
    order: 0;
    /* flex-grow: 0; - Crescimento do elemento
    flex-shrink: 1; - Diminuição do elemento
    flex-basis: 150px; - Tamanho do elemento
    */ 
    flex: 0 1 150px;
}